.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.menu span {
  margin-left: 10px;
}

.menu a:link {
  text-decoration: none;
}

.filter {
  display: flex;
  justify-content: stretch;
  padding: 10px;
  margin: 10px 0;
}
.filter div {
  display: flex;
  flex-direction: column;
  margin: 5px;
}
