.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.menu span {
  margin-left: 10px;
}

.menu a:link {
  text-decoration: none;
}

.filter {
  display: flex;
  justify-content: space-between;
  width: 60%;
  padding: 10px;
  margin: 20px auto;
}
.filter div {
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.main {
  width: 60%;
  margin: 20px auto;
}
.table {
  width: 60%;
  margin: 20px auto;
}
